<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AMBIORA'19-20</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
</head>
<body>
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <h2>HTML Forms</h2>

    <form id="target" action="/payment">
      First name:<br>
      <input type="text" name="firstname" value="">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="">
      <br><br>
      <input type="submit" value="submit">
    </form> 

</body>
</html>

